# Default values for helm.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repo: docker.xuanyuan.me/nginx
  pullPolicy: IfNotPresent
  tag: "latest"
